/* ===== COLOR SYSTEM ===== */
:root {
  --primary: #0d6efd;
  --secondary: #6c757d;
  --success: #198754;
  --danger: #dc3545;
  --warning: #ffc107;

  --bg-color: #ffffff;
  --text-color: #212529;
  --muted-text: #6c757d;

  --card-bg: #f8f9fa;
  --border-color: #dee2e6;
}

/* ===== DARK MODE ===== */
[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #f1f1f1;
  --muted-text: #aaaaaa;

  --card-bg: #1e1e1e;
  --border-color: #2a2a2a;
}
